:root {
    --color-gold: #82eb0a;
}

svg {
    width: 400px;
   
}
path {
    stroke: black;
    fill: rgb(181, 236, 155);
    transition: 0.5s;
    cursor: pointer;
}
path:hover {
    fill: var(--color-gold);
    transform: translate(-5px, -5px);
}
.title_area {
    flex: 2;
    margin-right: 3vw;
    margin-top: -5vh;
    color: black;
    font-size: 20px;
}
