body{
    background-image: url('../pics/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}
.wrapper{
    padding-top: 300px;
}
#map{
    .UIV-icon{
        .icon{
            width: 20px;
            height: 20px;
            border-radius: 10px;
        }
        .low{
            background: greenyellow;
        }
        .med{
            background: yellow;
        }
        .high{
            background: gold;
        }
        .extra{
            background: red;
        }
        .danger{
            background: purple;
        }
    }
}